[Unit]
Description=dist-logger Client
After=dlserver.service
Requires=dlserver.service

[Service]
ExecStart=/root/dl-client
WorkingDirectory=/root/
Restart=on-failure
User=root
Group=root
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
